[alias]
	br = branch
	cb = "!git branch 2>/dev/null | awk '/^\\* / { print $2 }'"
	ci = commit
	co = checkout
	cp = cherry-pick
	d = diff
	fa = fetch --all
	fix = commit --amend -C HEAD
	l = log --graph --pretty=format:'%C(yellow)%h%Creset%C(blue)%d%Creset %C(white bold)%s%Creset %C(white dim)(%ar by %an)%Creset'
	ll = !git l --all
	lll = !git fa && git ll
	mirror = "!for r in $( git mirrors ); do git push $r; done"
	mirrors = "!git config -l | awk -F . '/^remote\\.[^.]+\\.mirror=true/ { print $2 }'"
	st = status
	autosquash = rebase -i --autosquash
[color]
	ui = auto
[core]
	autocrlf = false
	editor = vim
	eol = lf
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
	guitool = gvimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	guitool = gvimdiff
[mergetool]
	keepbackup = false
	prompt = false
[user]
	name = Beau Dacious
	email = dacious.beau@gmail.com
[github]
	user = nocash
