[alias]
	co = checkout
	ci = commit
	cp = cherry-pick
	st = status
	d = diff
	l = log --graph --relative-date  --pretty=format:'%C(yellow)%h%Creset %C(blue)%d%Creset %s %C(black)(%cd by %cn)%Creset'
	ll = !git l --all
	fa = fetch --all
	mirror = "!for r in $( git mirrors ); do git push $r; done"
	mirrors = "!git config -l | awk -F . '/^remote\\.[^.]+\\.mirror=true/ { print $2 }'"
	fix = commit --amend -C HEAD
	br = branch
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	editor = vim
	eol = lf
[merge]
	tool = vimdiff
[user]
	name = Beau Dacious
	email = dacious.beau@gmail.com
[github]
	user = nocash
	token =
